wheel
typing-extensions==4.0.1
colorlog==6.6.0
PySide2==5.15.2
astor==0.8.1
html2text==2020.1.16
parsel==1.6.0
pydash==5.1.0
cacheout==0.13.1
black==21.12b0
autoflake==1.4
psutil==5.9.0
PyQt5==5.15.6
PyQt6==6.2.2
PySide6==6.2.2.1
IceSpringPathLib==1.0.0


